| BIENVENIDO/A
= "\r\n"
= "\r\n"
| Bienvenido/a a CEROUNO.
= "\r\n"
= "\r\n"
| Tu carrera como desarrollador de software comienza ahora.
= "\r\n"
= "\r\n"
| Cómo siguiente paso, nuestra Gerente de Operaciones, Cris Flores, entrará en
|  contacto contigo para el pago de tu depósito y la firma de tu contrato.
= "\r\n"
= "\r\n"
| Si deseas obtener una beca-crédito con Laudex, puedes contactar a
|  Luis Correa en 'luis.correa@laudex.com' o llamando al 01 (55) 4040-7940 extensión 7956.
= "\r\n"
= "\r\n"
| Mientras tanto, si tienes cualquier duda, escríbenos a 'admisiones@cerouno.io'.
= "\r\n"
= "\r\n"
| Mucho éxito y nos vemos pronto.
