| APLICACIÓN ENVIADA
= "\r\n"
= "\r\n"
| Gracias por enviar tu aplicación a CEROUNO.
= "\r\n"
= "\r\n"
| Nuesto equipo revisará tu solicitud de admisiones, y te contactaremos para agendar
|  una entrevista presencial en menos de dos semanas.
= "\r\n"
= "\r\n"
| Durante la entrevista presencial evaluaremos tus capacidades lógicas, así que mientras esperas,
|  trata de practicar tus habilidades lógicas aquí 'http://curriculum.cerouno.io/interview_prep/logic_questions' y
|  asegúrate de revisar tu folder de spam.
= "\r\n"
= "\r\n"
| Si tienes cualquier pregunta o comentario, no dudes en escribirnos a 'admisiones@cerouno.io'.
= "\r\n"
= "\r\n"
| Mucho éxito.
= "\r\n"
= "\r\n"
| Revisa tu aplicación aquí: #{ login_url }.
