| MUCHO ÉXITO
= "\r\n"
= "\r\n"
| Lamentamos no tenerte en CEROUNO.
= "\r\n"
= "\r\n"
| Esperamos que no desistas en tu esfuerzo de aprender a programar. En un mundo donde
|  todos los negocios existentes serán empresas de tecnología, la programación será
|  una herramienta imprescindible.
= "\r\n"
= "\r\n"
| ¿Te importaría decirnos qué podemos hacer mejor? Si nos puedes escribir un mensaje
|  a 'admisiones@cerouno.io' con tu retroalimentación, te lo agradeceremos mucho.
= "\r\n"
= "\r\n"
| Mucho éxito y sigamos en contacto.
