| AGENDA TU ENTREVISTA
= "\r\n"
= "\r\n"
| Felicidades por pasar a la siguiente ronda!
= "\r\n"
= "\r\n"
| Ahora es tiempo de agendar tu entrevista presencial.
|  Da click en el botón para seleccionar la hora y día de tu entrevista.
= "\r\n"
= "\r\n"
| La entrevista consistirá en una prueba lógica y en una evaluación de tus
|  habilidades profesionales.
= "\r\n"
= "\r\n"
| Puedes practicar el tipo de preguntas lógicas aquí 'https://www.lsac.org/free-sample-test/sp/seccion-3.asp'.
= "\r\n"
= "\r\n"
| Si tienes cualquier pregunta o comentario, no dudes en escribirnos a 'admisiones@cerouno.io'.
= "\r\n"
= "\r\n"
| Mucho éxito.
= "\r\n"
= "\r\n"
| Agenda tu entrevista aquí: http://cerouno.youcanbook.me
