| DECISIÓN DE ADMISIONES
= "\r\n"
= "\r\n"
| Después de revisar tu aplicación hemos tomado la difícil decisión de no ofrecerte admisión en *CEROUNO*.
= "\r\n"
= "\r\n"
| Esto no quiere decir que no tengas habilidades para programar, sino que
|  nuestro programa no es la mejor opción para tu estilo de aprendizaje.
= "\r\n"
= "\r\n"
| Esperamos que sigas adelante con tu sueño de aprender a programar, y que esto no te desanime.
|  Te recomendamos usar http://codecademy.com o aplicar a otros programas.
= "\r\n"
= "\r\n"
| Si lo deseas, puedes aplicar a nuestro programa de nuevo en *seis meses*. Cuándo se cumpla el plazo,
|  mándanos un email a 'admisiones@cerouno.io'.
|  y revisaremos tu caso.
= "\r\n"
= "\r\n"
| Mucho éxito.
