| BIENVENIDO/A A CEROUNO
= "\r\n"
= "\r\n"
| Gracias por tomar el primer paso en tu carrera como desarrollador/a de software.
= "\r\n"
= "\r\n"
| CEROUNO es el primer programa de aprendizaje acelerado en México. Tenemos experiencia entrenando a más de
|  300 desarrolladores de software y estamos muy emocionados de tener tu confianza.
|  Nuestro programa busca no sólo ser la mejor escuela de desarrollo de software sino el inicio de un movimiento
|  que transforme a México.
= "\r\n"
= "\r\n"
| Si tienes cualquier pregunta o comentario, no dudes en escribirnos a 'admisiones@cerouno.io'.
= "\r\n"
= "\r\n"
| Mucho éxito.
= "\r\n"
= "\r\n"
| Continúa tu aplicación aquí: http://cerouno.io/login.
