form{
  input{
    height: 80px;
    line-height: 40px;
    padding: 20px;
    background-color: #ededed;
    border:none;
    font-size: 30px;
    font-weight: 700;
    color: $dark-gray;
    margin-top: 20px;
    width: 100%;
  }
  input[type='submit']{
    background-color: $main;
    color: #fff;
    width: auto;
    padding: 20px 40px;
  }
}
