@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto+Mono:400,300i,700');

body{
  font-family: $poppins;
  background-color: #fafafa;
  color: $dark-gray;
}

h1{
  color: $main;
  font:700 44px/44px $poppins;
  letter-spacing: 1pt;
  &.call-to-action{
    font-size: 52px;
    line-height: 58px;
    color: darken($dark-gray, 10%);
    padding: 150px 150px 50px 150px;
    a {
      color: darken($dark-gray, 10%);
      border-bottom: 5px solid $main;
      margin-left: 20px;
      &:hover{
        text-decoration: none;
        color: $main;
      }
    }
  }
}
h2{
  font-size: 70px;
  letter-spacing: 2pt;
  font-weight: 700;
}
h3{
  font:700 36px/48px $poppins;
  letter-spacing: 1pt;
}
p{
  font-family: $roboto-mono;
  line-height: 1.3em;
}

a {
  color: $main;
  &:hover {
    color: $main;
  }
}
@media (max-width: 991px) {
  h1{
    font:700 32px/32px $poppins;
    &.call-to-action{
      font-size: 36px;
      line-height: 40px;
      padding: 50px 50px 0px 50px;
    }
  }
  h2{
    font-size: 50px;
    letter-spacing: 2pt;
  }
  h3{
    font:700 22px/28px $poppins;
    letter-spacing: 1pt;
  }
  p{
    font-size: 14px;
  }
  @media (max-width: 767px) {
    h1{
      &.call-to-action{
        font-size: 24px;
        line-height: 28px;
        padding: 50px 10px 0px 10px;
      }
    }
  }
}