.bg-dark-gray{ background-color: $dark-gray;}
.bg-yellow{background-color: $yellow;}
.bg-purple{background-color: $purple;}

img{
  max-width: 100%;
}
.text-main{
  color: $main;
}
.m-t-lg{
  margin-top: 60px;
}