section.static
  .container
    markdown:
      # Garantía CeroUno

      Todos nuestros programas están cubiertos por la Garantía de Empleabilidad de CeroUno.

      ¿Qué significa esto? Qué nosotros te conseguimos empleo en menos de seis meses. Así de simple.

      ### ¿Cómo funciona?

      1. Inscríbete en un programa de CeroUno.
      2. Paga la mitad de la colegiatura.
      3. Nosotros te conseguimos empleo con nuestro pool de empresas en menos de seis meses.
      4. Si no te conseguimos una oferta de empleo en ese tiempo, nosotros cubrimos la mitad restante de tu colegiatura.

      ### Términos y Condiciones

      La Garantía de Empleabilidad de CeroUno, sólo aplica si:

      1. El estudiante está buscando activamente empleo.
      2. El estudiante ha pasado los requerimientos académicos del programa.
      3. El estudiante no está registrado en el programa por parte de una empresa.
      4. El estudiante está inscrito en programas de nivel Professional o Mastery.

      En caso de que el estudiante no obtenga una oferta de empleo de nuestra red de empresas de al menos 20 mil pesos dentro de seis meses después de graduarse, CeroUno asumirá el 50 por ciento del precio de lista del programa.

      Si el estudiante obtiene empleo fuera de nuestra red de empresas, se compromete a cubrir el costo restante de su colegiatura.
