.alliances{
  .logo{
    margin-top: 90px;
    margin-bottom: 20px;
    height: 70px;
    img{
      max-width: 60%;
    }
  }
  p{
    font-size: 13px;
    line-height: 20px;
    color: $medium-gray;
  }
  span.arrow{
    text-align: right;
    display: block;
    color: $main;
  }
}