.alliances{
  .logo{
    margin-top: 90px;
    margin-bottom: 20px;
    height: 70px;
    img{
      max-width: 140px;
    }
  }
  p{
    font-size: 13px;
    line-height: 20px;
    color: $medium-gray;
  }
  span.arrow{
    text-align: right;
    display: block;
    color: $main;
  }
  @media (max-width: 767px) {
    padding-left: 10%;
    padding-right: 10%;
    .logo{
      margin-top: 40px;
      margin-bottom: 0;
      text-align: center;
    }
    span.arrow{
      text-align: center;
    }
  }
}