footer{
  padding: 10px 0;
  opacity: .3;
  .iso{
    display: inline-block;
    padding-right: 20px;
  }
  .social{
    display: inline-block;
    float: right;
    padding: 20px 0;
    a{
      padding: 16px;
      img{
        height: 14px;
      }
    }
  }
  @media (max-width: 767px) {
      text-align: center;
    .iso{
      display: none;
    }
    .social{
      display: block;
      float: none;
      text-align: center;
    }
  }
}
