.team{
  margin: 90px 0 40px 0;
  .row{
    margin-left: auto;
    margin-right: auto;
  }
  .col-md-6{
    padding: 0!important;
  }
  .text{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    h4{
      font-size: 16px;
      font-weight: 600;
    }
    p{
      font-size: 14px;
    }
    h3 span{
      color:$main;
    }
    .content{
      padding: 200px 20% 0 40px;
      .icons{
        a {
          padding: 40px 40px 40px 0;
          display: inline-block;
        }
      }
    }
    .more{
      align-self:flex-end;
    }
    .more-team{
      display: flex;
      flex-wrap:wrap;
      a{
        display: block;
        flex-basis:25%;
      }
    }
  }
  @media (max-width: 991px) {
    .text .content{
      padding: 40px 20% 0 40px;
        .icons a{
          padding:  20px 20px 20px 0;
        }
    }
  }

}