$color-blue: #0C2340
$color-pink: #EF426F
$color-dark-pink: #CC2952
$color-gray: #ADADAD
$font: NeueHaasGrotesk, sans-serif

$color-danger: #A21D3F
$color-success: #0CA221
$color-warning: #F86138
$color-info: #2583A2

body
  font-family: $font
  font-size: 18px

h1
  font-size: 3em
  line-height: 1.05em
  font-weight: bolder

h2
  font-size: 2.25em
  line-height: 1.25em
  font-weight: bold

h3
  font-size: 1.75em
  line-height: 1.25em
  font-weight: bold

h4
  font-size: 1.125em
  line-height: 1.222222em
  font-weight: bold

h5
  font-size: 1em
  line-height: 1.375em
  font-weight: bold

p
  font-size: 1em
  line-height: 1.375em
  font-weight: lighter

b
  font-weight: bold

a
  color: $color-pink

label
  font-weight: bold

input
  font-weight: lighter
  color: $color-gray

a:hover, a:focus
  text-decoration: none
  color: $color-gray

body, h1, h2, h3, h4, h5, h6
  font-size-adjust: 0.5

.alert
  border: none
  border-radius: 0
  margin: 0
  color: white
  font-weight: lighter
  font-size: 1em

.alert.alert-danger
  background-color: $color-danger

.alert.alert-success
  background-color: $color-success

.alert.alert-warning
  background-color: $color-warning

.alert.alert-info
  background-color: $color-info

small.form-text.text-alert
  color: $color-danger

.btn-primary
  color: white
  background-color: $color-pink
  border-color: $color-dark-pink
  font-weight: bold

.btn-primary:hover
  color: $color-gray
  background-color: $color-dark-pink
  border-color: $color-dark-pink
  font-weight: bold
