// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.home
  min-height: 100vh

  .row.space
    min-height: 20vh

  .row.form
    margin-top: 5vh

  .row.value
    margin-top: 5vh

  .row.program
    margin-top: 5vh
    p
      margin-bottom: 5vh

  html
    font-family: helvetica, sans-serif

  h1
    font-size: 105px
    font-weight: bold
    letter-spacing: -5px

    span
      font-weight: lighter

  h2
    font-size: 65px

  h3
    font-size: 51px
    color: #FF4E00

  h4
    font-size: 40px

  h5
    font-size: 31px
    font-weight: 200

  h5.opening
    margin-top: 5vh
