// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid.home
  min-height: 100vh

  .row.hero
    padding: 10vh 10vw
    background-color: $color-blue
    color: white

    h1
      color: $color-pink

    h3
      font-family: $font-lighter

    h3.opening-date
      margin-top: 5vh

    img
      padding-bottom: 5vh
      max-width: 180px


  .row.value
    padding: 5vh 10vw


  .row.program
    padding: 5vh 10vw

    .module
      padding: 1.25vh 0vw

  .row.admissions
    padding: 5vh 10vw 0vh 10vw

  .row.admissions-steps
    padding: 1.25vh 10vw 5vh 10vw

  .row.info
    padding: 5vh 10vw 0vh 10vw

  .row.info-sections
    padding: 1.25vh 10vw 5vh 10vw

    .form-inline
      padding-bottom: 2.5vh

  .row.footer
    padding: 5vh 10vw
